<!DOCTYPE html>
<html lang="en">

<style>
    canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{t}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://requirejs.org/docs/release/2.3.6/r.js"></script>
</head>

<body>
<!-- This will update the output files -->
<form action = "/update">
    <input type="submit" value="Fetch New Data">
</form>
<!--backend.py -->

    <div id="myData"></div>
    <div style="width:75%;">
		<canvas id="canvas"></canvas>
    </div>
<script>
    Promise.all([
    //Configuration Data: Represent the meaning of the important data
    fetch('/static/Monitor_Host_Publishers_Parsed.json').then(resp => resp.json()),
    fetch('/static/Modbus_Gw_File_Parsed.json').then(resp => resp.json()),
    //Publish Data: Display graphically
    fetch('/static/pyModbus.json').then(resp => resp.json())
          ]).then(function (data) {
                appendData(data);
                console.log(data);
                chart(data);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });

var DB_Data = new Array( );
DB_Data = {{ Data | safe }}
console.log(DB_Data);

function appendData(data){
//Representing configuration data
  var mainContainer = document.getElementById("myData");
      var ip;
      for(var i=0; i<data[1].length; i++){
		  ip = data[1][i].Eui64;
		  console.log(ip+': '+i)
          var div = document.createElement("div");
          div.innerHTML = '<br/>Address: '+data[1][i].start_addr+
                          '<br/>Number of Registers: '+data[1][i].word_cnt+
                          '<br/>Device: '+ip+
                          '<br/>Unit of measurement: '+data[0][ip].channel[0].unit_of_measurement+
                          '<br/>Status: '+data[0][ip].channel[0].withStatus+'<br/>_';   
          mainContainer.appendChild(div);
      }  
}

function chart(data){
//Publish Data Chart
window.chartColors = { 	red: 'rgb(255, 0, 0)', 	green: 'rgb(0, 128, 0)', yellow: 'rgb(200, 200, 0)', gray: 'rgb(80, 80, 80)' }; 

var randomScalingFactor = function() {
			return Math.round(Math.random() * 100);
		};

var today = new Date();
var labelnames = DB_Data[0][0];

var config = {
		type: 'line',
		data: { 
			labels: labelnames,
			datasets: []
		},
		options: {
			responsive: true,
			title: {
				display: true,
				text: 'Configuration Chart'
			},
			tooltips: {
				mode: 'index'
			},
			scales: {
				xAxes: [{
					display: true,
					scaleLabel: {
						display: true
					}
					
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: true,
						labelString: 'Value'
					},
					ticks: {
						suggestedMin: 0,
					},
					offset: true
				}]
			},

		},		
	};

var ctx = document.getElementById('canvas').getContext('2d');
window.myLine = new Chart(ctx, config);
var myChart = window.myLine;

for(i = 0; i < DB_Data.length; i++){
var dset = {
		label: 'Register ' +data[2][i].register,
		data: DB_Data[i][2],
		backgroundColor: 'rgba(0,0,0,0)',
		fill: false,
		cubicInterpolationMode: 'monotone',
		pointBackgroundColor: [],
		pointStyle: [],
		radius: 3
	}
	myChart.data.datasets.push(dset);
}

myChart.update()
	for(j = 0; j < DB_Data.length; j++){
		for(i = 0; i < DB_Data[j][3].length; i++){
			if(DB_Data[j][3][i] == 128){
				myChart.data.datasets[j].pointBackgroundColor.push("green");
				myChart.data.datasets[j].pointStyle.push("rect");
			} else if (DB_Data[j][3][i] == 20){
				myChart.data.datasets[j].pointBackgroundColor.push("yellow");
				myChart.data.datasets[j].pointStyle.push("triange");
			} else if (DB_Data[j][3][i] == 0){
				myChart.data.datasets[j].pointBackgroundColor.push("red");
				myChart.data.datasets[j].pointStyle.push("circle");
			} else {
				myChart.data.datasets[j].pointBackgroundColor.push("gray");
				myChart.data.datasets[j].pointStyle.push("star");
			}
		}
	}
myChart.update()

}
</script>
</body>
</html>